<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" id="loginfrom" th:action="@{/user/login}" method="post">
    <img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/asserts/img/bootstrap-solid.svg}" alt=""
         width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label class="sr-only">Username</label>
    <input type="text" class="form-control" name="userName" id="name" placeholder="Username" required="" autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" name="passWord" id="pwd" placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <a class="btn btn-lg btn-primary btn-block" onclick="login()">Sign in</a>
    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
    <a class="btn btn-sm">中文</a>
    <a class="btn btn-sm">English</a>
</form>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script th:src="@{/asserts/js/layer/layer.js}"></script>
</body>

<script type="text/javascript">
    function login() {
        var username = $("#name").val();
        var paswowrd = $("#pwd").val();
        $.ajax({
            url: "/user/login",
            type: "POST",
            data: {"userName": username, "passWord": paswowrd},
            success: function (result) {
                console.log("回调函数：" + result.code);
                if (result.code == 100) {
                    layer.msg("用户登录成功", {time: 1000, icon: 6}, function () {
                        window.location.href = "/dashboard";
                    });
                } else {
                    layer.msg("登录失败，请重新操作", {time: 2000, icon: 5, shift: 6}, function () {
                    });
                }
            }
        });
    }
</script>

</html>